.logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
  height: 44px;
}

.logo__text {
  font-size: 28px;
  font-weight: 700;
  color: #333333;
  margin-left: 24px;
}
