.title {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  line-height: 115%;
}

.title_big {
  font-size: 44px;
}

.title_medium {
  font-size: 36px;
}

.title_small {
  font-size: 32px;
}

.title_extra_small {
  font-size: 18px;
}
